.App {
  text-align: center;
}


.heading-container{
display: flex;
}

.heading {
padding: 5px;
border: 1px solid black;
cursor: pointer;

}
.tab-body
{
  padding: 5px;
  display: flex;
  height: 500px;
  border: 1px solid black;
}

.error
{
  color: red;
  font-size: small;
  display: block;
}
.active{
  background-color: aqua;
}
.profile
{
  flex: 1;
  padding: 15px;
  
}.interest
{
  flex: 1;
  padding: 15px;

  
}